body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.container {
  height: 422px;
  width: 800px;

  box-shadow: 2px 2px 2px 2px #aaaaaa;
  border: 2px solid #ffffff;
  border-radius: 8px;

  background-color: #fafafa;
  padding-left: 19px;
}
hr {

  width: 752px;
}

.custom-add {
  padding-left: 40px;
  width: 650px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 40px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
}
.custom-add-input {
  height: 30px;
  width: 550px;
  border: none;
}
#todo-checkbox {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 277px;
}

.label-1 {
  color: #1e90ff;
  text-align: center;
  text-decoration: underline;
}
.fa-calendar-alt {
  color: #1e90ff;
}
#submit{
  top: 0;
  border-radius: 5px;
  bottom: 0;
  right: 0px;
  z-index: 4;
  border: none;
  top: 2px;
  height: 30px;
  width: 47px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(2px);
}

h1 {
  text-decoration: underline;
  color: #2586e8;
  text-align: center;
}
/* COUNTER FIELDS*/
.counter {
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  margin-bottom: 26px;
 
}
#filter {
  text-align: center;
  width: 100px;
  border-radius: 3px;
  padding: 5px;
}
#sort {
  text-align: center;
  width: 100px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 3px;
}
.sort-icon {
  font-size: 17px;
  color: #09cbaa;
  padding: 4px;
}
/* LISTS */
ul {
  list-style-type: none;

  /* margin: 30px; */
  display: inline-flex;

}
/* #insurance-list{
  border-radius: 1px solid #1e90ff;

} */
#tasks{
  display: flex;
  justify-content: space-between;
}
#list-2{
  border-radius: 1px solid #1e90ff;
}
/* DATE INPUT WITH ICON */
#date{
  
  padding: 6px;
  border-radius: 4px;

 
}

.icon-button {
  background: none;
  color: #000;
  margin-left: 300px;
  padding-right: 0;
  border: none;
}
.trash-icon{
  background: none;
  color: #000;
  padding: 3px;
  margin: 5px;
  border: none;
}
.list .list-li {
  margin-top: 90px;
}
.list-2 ul li {
  display: inline-block;
}
div#list {
  padiing: 0;
  margin: -35px;
}



/* ICON -INPUT DESIGN START */

.input-icons i {
  position: absolute;
  margin-left: 204px;
  color: #ffcc00;
  border: #ffffff;
  position: absolute;
  padding: 13px;
}

input.date {
  padding: 10px;
  align-items: center;
 
  font-family: monospace;
  padding-inline-start: -28px;
  padding-inline-start: 38px;
  cursor: default;
 
  border: 1px solid #ffcc00;
  border-radius: 5px;
  width: 128px;
  padding: -2px;
  width: -31px;
  margin-left: 195px;
}

/* ICON -INPUT DESIGN END */


/* LABELS */
.label-4 {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 343px;
  border-radius: 5px;
}

@media (max-width: 1024px)  {
 
  body {
    display: flex;
    justify-content: center;
    margin: 100px;
   
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.container {
  height: 487px;
  width: 321px;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #fafafa;
  padding-left: 53px;
  margin-top: 27px;
  padding: 20px;
  padding-left: -6px;
}


form {
  width: 283px;
  height: 475px;
  
  align-items: center;
  align-content: center;
}

#todo-checkbox {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 20px;
}


.custom-add {
  width: 282px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 15px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
}
.custom-add-input {
  height: 30px;
  width: 193px;
  border: none;
}
hr {
 
  width: 296px;
}
.container-list{
  width: 200px;
}
.counter {
  
  margin: 7px;
  
  width: 250px;
  
}

#filter {
  text-align: center;
  width: 158px;
  border-radius: 3px;
  padding: 3px;
  margin: 11px;
}
#sort {
  text-align: center;
  width: 139px;
  border-radius: 3px;
  padding: -21px;
  margin-left: 19px;


}
/* CONTAINER-LIST */

.container-list {
  width: 275px;
  height: 171px;
  margin: -33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  /* margin: 12px; */
 
}
.list-2 ul li {
  display: inline-block;
  margin: 13px;
  
  
}
div#list-2 {
    margin: -13px;
}


.label-4 {
  background-color: #ffffff;
  padding: 13px;
  padding-right: -139px;
  border-radius: 5px;
}
/* CONTAINER-LIST END */
/* INPUT_ICONS DESIGN */

.input-icons i {
  position: absolute;
  margin-left: 59px;
  color: #ffcc00;
  border: #ffffff;
  position: absolute;
  padding: 10px;
}

input.date {
  padding: 8px;
  align-items: center;
  font-family: monospace;
  padding-inline-start: -28px;
  padding-inline-start: 34px;
  cursor: default;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  width: 111px;
  padding: -2px;
  width: -31px;
  margin-left: 53px;
}

}


